@import "../../shared-styles";

.story-form {
  @include card;
  max-width: 500px;
  margin: 0 auto;

  h2 {
    color: $primary-color;
    margin-bottom: 20px;
  }

  input {
    @include form-input;
  }

  button {
    @include button;
  }
}
